# Ignorowanie wirtualnego środowiska
bc_env/

# Pliki systemowe i edytorów
.vscode/
.idea/

# Pliki Python
__pycache__/
*.pyc
*.pyo

# Ignorowanie plików i folderów związanych z projektem Hardhat
node_modules/
.cache/
.artifacts/

# Ignorowanie pliku .env
.env